ctpn/__pycache__/text_detect.cpython-37.pyc
ctpn/output/ctpn_end2end/voc_2007_trainval/pascal_voc/VGGnet_fast_rcnn_iter_1000.ckpt.data-00000-of-00001
ctpn/output/ctpn_end2end/voc_2007_trainval/pascal_voc/VGGnet_fast_rcnn_iter_1000.ckpt.meta
ctpn/output/ctpn_end2end/voc_2007_trainval/pascal_voc/VGGnet_fast_rcnn_iter_1000.ckpt.index
ctpn/output/ctpn_end2end/voc_2007_trainval/pascal_voc/VGGnet_fast_rcnn_iter_2000.ckpt.data-00000-of-00001
ctpn/output/ctpn_end2end/voc_2007_trainval/pascal_voc/VGGnet_fast_rcnn_iter_2000.ckpt.index
ctpn/output/ctpn_end2end/voc_2007_trainval/pascal_voc/VGGnet_fast_rcnn_iter_2000.ckpt.meta
ctpn/output/.DS_Store
ctpn/output/ctpn_end2end/.DS_Store
ctpn/output/ctpn_end2end/voc_2007_trainval/.DS_Store
ctpn/.DS_Store
ctpn/__pycache__/text_detect.cpython-37.pyc
ctpn/checkpoints/checkpoint
.DS_Store
